APP_NAME=gopher-foody-restaurant-service
APP_ENV=production
APP_HTTP_PORT=8002
APP_SECRET_KEY=your-secret-key-here

DATABASE_HOST=restaurant-db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your-db-password
DATABASE_DBNAME=foody_restaurant_dev_db

LOGGER_LEVEL=info

# AWS S3 Configuration
AWS_REGION=your-region
AWS_S3_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
